.root {
	-fx-background-radius: 30;
	-fx-background-color: #170132;
	-fx-effect: dropshadow(gaussian, #85ae72, 12, 0.5, 0.0,
		0.0);
	-fx-padding: 12;
}

#main {
	-fx-background-color: transparent;
}

.button {
    -fx-background-radius: 40;
    -fx-text-fill: #dee1ed;
    -fx-background-color: #573e54;
}

.button:hover {
    -fx-background-radius: 40;
    -fx-background-color: #be0034;
    -fx-border-width: 2px;
}


.label {
	-fx-text-fill: #fbfffb;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.txtPrincipal {
	-fx-text-fill: #fff;
	-fx-font-size: 20px;
	
}

.textField {
	-fx-border-color: #85ae72;
}

.dialogs{
	-fx-background-color: #0d5b6e;
	-fx-background-radius: 0;
}

.dialogs:header *.header-panel {
	-fx-background-color: #378497;
}

.dialogs:title *.title-panel {
	-fx-background-color: transparent;
}

.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: #be0034;
}

.tableView .column-header .label {
	-fx-text-fill: #0d5b6e;
}

.tableView {
	-fx-background-color: transparent;
	-fx-background-radius: 30;
	-fx-effect: dropshadow(gaussian, rgb(46, 64, 83,1), 14, 0.7, 0.3,
		0.6);
}

.table-row-cell:empty .table-cell {
	-fx-border-width: 0px;
    -fx-background-color: #6a7f8f;

}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #c5d5bd;
   
}

.table-cell{
	-fx-background-color: transparent;
	
}

.tab-pane {
    -fx-border-style: none;
    -fx-box-border: transparent;
    -fx-background-color: transparent;
}
.tab-header-area {
    -fx-background-color: transparent;
}
.tab {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-padding: 0.416667em 110px 0.25em 110px; /* Ajusta los valores del padding según tus preferencias */
    -fx-background-radius: 0;

}

.comboBox {
    -fx-background-color: #573e54; /* Cambia el color de fondo */
    -fx-text-fill: #fff; /* Cambia el color del texto */
    -fx-font-size: 14px; /* Cambia el tamaño de fuente */
    /* Más propiedades CSS personalizadas si es necesario */
}

.comboBox .text {
	-fx-prompt-text-fill: #fff;
}


